/* 
html{
    height: 100%;
  }
  body {
    background-image: linear-gradient(45deg, yellow, red);
    background-repeat: no-repeat;
  }
  .header{
    position: absolute; left: 40%; top:10%;
  }
  .Todo-add{
    position: absolute; left: 35%;top: 20%;
    padding-left: 0;
    width: 400px;
    height: 50px;
  }
  .Todo-add-btn{
    position: absolute; left: 62%;top: 20%;
    height: 55px;
  }
  .Todo-list{
  padding-left: 0;
  width: auto;
  color: #333;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  position: absolute;left: 35%;top: 50%;
  list-style: none;
  }
  .Todo-list li{
    padding: 15px;
  }
  .delete-item{
    margin-left: 10px;
    margin-right: 10px;
  }
  .tasks input{
    background-color: transparent;
    border: 0;
  }
  .datepick{
    position: absolute;left: 35%;top: 10%;
  } */

/* .container{
    width: 200px;
    background-color: white;
  } */

html, body {
  height: 100%;
  margin: 0;
}

.container {
  padding-top: 5px;
  background-color: #008B8B;
  height: 58px;
}

.header {
  text-align: center;
}

ul {
  list-style-type: none
}

.todo-list {
  float: left;
  text-align: center;
  justify-items: center;
  width: 70%;
}

.btn-filter {
  margin-bottom: 10px;
}

.filter {
  display: block;
  margin-bottom: 5px;
  border: none;
  padding: 0;
  background: none;
}

.btns {
  float: left;
  width: 200px;
  padding: 20px;
  height: 80vh;
  border-right: 5px solid gray;
}

.form-task {
  clear: both;
  text-align: center;

}

/*

.add-list{
  text-align: center;
}
.navi{
  width: 200px;
  padding: 20px;
  height: 86vh;
  border-right: 1px solid gray;
}
.button{
  text-align: center;
}
.filtered-category{
  display: block;
} 
 */

/* .button-filter{
  position: relative; left: 2%; top: 5  0%;
}
.filtered-date{
  display: block;
} */

.categoryList{
  float:left;
  width: 300px
}
.numberOfTasks{
  float:left;
  position: relative;
  left: -80px;
  bottom: -2px;
  
}
.newTask{
  clear: both;
}